.ipynb_checkpoints/
.idea/
logs/
artifacts/
dataset/
Dataset/
model/
Perceptron_model/
env/

**/.ipynb_checkpoints
**/.idea
**/logs
**/artifacts
**/dataset
**/Dataset
**/model
**/Perceptron_model
**/env
.*/env/
**env/
