{% extends('layout.html') %}

{% block content %}
    <h2>Calculator</h2>
    <form action="/result" method="POST">
          <div class="form-group">
              <label for="operation">Select Operation:</label>
              <select class="form-control" id="operation" name="operation">
                <option value="+">Add</option>
                <option value="-">Subtract</option>
                <option value="*">Multiply</option>
                <option value="/">Divide</option>
              </select>
          </div>
        <div class="form-group">
          <label for="num1">First Number:</label>
          <input type="number" class="form-control" id="num1" placeholder="First Number" name="num1" required>
        </div>
        <div class="form-group">
          <label for="num2">Second Number:</label>
          <input type="number" class="form-control" id="num2" placeholder="Second Number" name="num2" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock content %}
